name: Build project

on: [push]

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

jobs:
    testAllModes:
      name: Test in ${{ matrix.testMode }} on version ${{ matrix.unityVersion }}
      runs-on: ubuntu-latest
      strategy:
        fail-fast: false
        matrix:
          projectPath:
            - ./
          unityVersion:
            - 2019.3.11f1
          testMode:
            - playmode
            - editmode
      steps:
        - uses: actions/checkout@v2.1.0
          with:
            lfs: true
        - uses: actions/cache@v1.1.2
          with:
            path: ${{ matrix.projectPath }}/Library
            key: Library-${{ matrix.projectPath }}
            restore-keys: |
              Library-
        - uses: webbertakken/unity-test-runner@v1.6
          id: tests
          with:
            projectPath: ${{ matrix.projectPath }}
            unityVersion: ${{ matrix.unityVersion }}
            testMode: ${{ matrix.testMode }}
            artifactsPath: ${{ matrix.testMode }}-artifacts
        - uses: actions/upload-artifact@v1
          with:
            name: Test results for ${{ matrix.testMode }}
            path: ${{ steps.tests.outputs.artifactsPath }}
    buildForSomePlatforms:
      name: Build for ${{ matrix.targetPlatform }} on version ${{ matrix.unityVersion }}
      runs-on: ubuntu-latest
      strategy:
        fail-fast: false
        matrix:
          projectPath:
            - ./
          unityVersion:
            - 2019.3.11f1
          targetPlatform:
            - StandaloneWindows64 # Build a Windows 64-bit standalone.
            - StandaloneLinux64 # Build a Linux 64-bit standalone.
            - WebGL # WebGL.
      steps:
        - uses: actions/checkout@v2.1.0
          with:
            lfs: true
        - uses: actions/cache@v1.1.2
          with:
            path: ${{ matrix.projectPath }}/Library
            key: Library-${{ matrix.projectPath }}-${{ matrix.targetPlatform }}
            restore-keys: |
              Library-${{ matrix.projectPath }}-
              Library-
        - uses: webbertakken/unity-builder@v0.12
          with:
            projectPath: ${{ matrix.projectPath }}
            unityVersion: ${{ matrix.unityVersion }}
            targetPlatform: ${{ matrix.targetPlatform }}
        - uses: actions/upload-artifact@v1
          with:
            name: Build
            path: build